<section class="content row">

	<div *ngIf="objectSearched" class="content__part">
		<h3 class="row">{{objectSearched.companyType}} poszukuje</h3>
		<p class="row">
			Typ obiektu: {{objectSearched.objectType}}
		</p>
		<p class="row">
			Lokalizacja: {{objectSearched.objectLocation}}
		</p>
		<p class="row">
			Powierzchnia: {{objectSearched.objectAreaMin}} - {{objectSearched.objectAreaMax}} m<sup>2</sup>
		</p>
		<p class="row">
			Cena: {{objectSearched.objectPriceMin}} - {{objectSearched.objectPriceMax}} zł
		</p>
	</div>

</section>