<section class="content row">
	<div class="content__part">
		<h2>O nas</h2>
		<ul>
			<li>Add email input to form and backend</li>
			<li>Add email sending after submit - backend</li>
			<li>Create user on submit</li>
			<li>Generate first login link - redirect to password creation page</li>
			<li>Create add/edit post page</li>
			<li>Add thumbnails and images to posts</li>
			<li>Create edit/remove objectSearched page</li>
			<li>Form validation on submit only</li>
			<li>Add text field for object description</li>
		</ul>
	</div>
</section>