<section class="content row">
	<section class="content__part">
		<h1>Poszukujesz nieruchomości na sprzedaż lub wynajem?</h1>
		<h2>Nasz portal to obecnie {{lastSearched.length}} poszukujących i ... ogłoszeń</h2>
	</section>
	<section class="content__part col-md-6">
		<h2>Szukasz nieruchomości?</h2>
		<button type="button" class="btn btn-outline-dark" routerLink="dodajPoszukiwania"><i class="fas fa-plus"></i>Dodaj poszukiwanie</button>
	</section>
	<section class="content__part col-md-6">
		<h2>Chcesz dodać ogłoszenie?</h2>
		<button type="button" class="btn btn-outline-dark"><i class="fas fa-plus"></i>Dodaj ogłoszenie</button>
	</section>
	<section class="content__part">
		<app-last-searches class=""></app-last-searches>
	</section>
</section>