<section class="content row">
	<div class="content__part paginate">
		<div class="paginate__content row">
			<h3>Wszystkie poszukiwania:</h3>

			<ul class="row">
				<li *ngFor="let objectSearched of objectsSearched | paginate: { itemsPerPage: 8, currentPage: p }" class="col-md-6">

					<section class="row link link--nodecor" routerLink="/oferta/{{objectSearched.id}}">
						<aside class="col-sm-3">
							<i class="fas fa-search-location"></i>
						</aside>
						<main class="col-sm-9">
							<p class="title">
								<strong>{{objectSearched.companyType}} poszukuje</strong>
							</p>
							<p class="details">
								Typ obiektu: {{objectSearched.objectType}}<br>
								Lokalizacja: {{objectSearched.objectLocation}}<br>
								Powierzchnia: {{objectSearched.objectAreaMin}} - {{objectSearched.objectAreaMax}} m<sup>2</sup><br>
								Cena: {{objectSearched.objectPriceMin}} - {{objectSearched.objectPriceMax}} zł<br>
							</p>
						</main>
					</section>
				</li>
			</ul>
		</div>

		<pagination-controls class="center paginate__numbers" (pageChange)="p = $event" autoHide="true" previousLabel="Poprzednia" nextLabel="Następna"></pagination-controls>
	</div>
</section>