<section class="content row">
  <div class="content__part col-sm-7">
    <h3 class="col-sm-12">Powiedz nam jakiej nieruchomości szukasz:</h3>

    <form class="form" autocomplete="off" [formGroup]="addObjectSearchedForm" (ngSubmit)="onSubmit()" (change)="this.matchedObjectsOffered=this.updateObjectsList(this.objectsOffered); checkMaxInput('area'); checkMaxInput('price')">

        <div class="col-sm-12 row form__part">
          <label class="col-sm-12 bold">Rodzaj transakcji:</label>
        <div class="col-sm-12 row">
          <label class="col-sm-12 col-md-6">
              <input type="radio" formControlName="transactionType" name="transactionType" value="sprzedaz">Sprzedaż
          </label>
          <label class="col-sm-12 col-md-6">
              <input type="radio" formControlName="transactionType" name="transactionType" value="wynajem">Wynajem
          </label>
          <control-messages [control]="addObjectSearchedForm.controls.transactionType" class="col-sm-12"></control-messages>
        </div>
        </div>
        <div class="col-sm-12 row form__part">
        <label class="col-sm-12 bold">Adres email:</label>
        <div class="col-sm-12 row">
          <input class="input__text col-sm-12" type="email" formControlName="email" id="email" required placeholder="na jaki adres chcesz otrzymać oferty?"/>
          <control-messages [control]="addObjectSearchedForm.controls.email" class="col-sm-12"></control-messages>
        </div>
        </div>
        <div class="col-sm-12 row form__part">
        <label class="col-sm-12 bold">Typ działalności:</label>
        <div class="col-sm-12 row">
          <input class="input__text col-sm-12" type="text" formControlName="companyType" required placeholder="w jakim celu poszukujesz nieruchomości?"/>
          <control-messages [control]="addObjectSearchedForm.controls.companyType" class="col-sm-12"></control-messages>
        </div>
        </div>
        <div class="col-sm-12 row form__part">
        <label class="col-sm-12 bold">Rodzaj obiektu:</label>
        <div class="col-sm-12 row">
          <input class="input__text col-sm-12" type="text" formControlName="objectType" required placeholder="np. biuro"/>
          <control-messages [control]="addObjectSearchedForm.controls.objectType" class="col-sm-12"></control-messages>
        </div>
        </div>
        <div class="col-sm-12 row form__part">
        <label class="col-sm-12 bold">Lokalizacja:</label>
          <div class="col-sm-12 row">
            <input class="input__text col-sm-12" type="text" formControlName="objectLocation" required placeholder="np. Warszawa"/>
          <control-messages [control]="addObjectSearchedForm.controls.objectLocation" class="col-sm-12"></control-messages>
          </div>
        </div>
        <div class="col-sm-12 row form__part"> 
        <label class="col-sm-12 bold">Powierzchnia:</label>
        <div class="col-sm-12 row">
          <input class="col-sm-5 input__text" type="number" formControlName="objectAreaMin" placeholder="od m²"/>
          <span class="col-sm-2 center">-</span>
          <input class="col-sm-5 input__text" type="number" (input2)="this.checkMaxInput('area')" formControlName="objectAreaMax" placeholder="do m²"/>
          <control-messages [control]="addObjectSearchedForm.controls.objectAreaMin" class="col-sm-5"></control-messages>
          <span class="col-sm-2 center">-</span>
          <control-messages [control]="addObjectSearchedForm.controls.objectAreaMax" class="col-sm-5"></control-messages>
        </div>
        </div>
        <div class="col-sm-12 row form__part">
        <label class="col-sm-12 bold">Cena:</label>
        <div class="col-sm-12 row">
          <input class="col-sm-5 input__text" type="number" formControlName="objectPriceMin" placeholder="od PLN"/>
          <span class="col-sm-2 center">-</span>
          <input class="col-sm-5 input__text" type="number" formControlName="objectPriceMax" placeholder="do PLN"/>
          <control-messages [control]="addObjectSearchedForm.controls.objectPriceMin" class="col-sm-5"></control-messages>
          <span class="col-sm-2 center">-</span>
          <control-messages [control]="addObjectSearchedForm.controls.objectPriceMax" class="col-sm-5"></control-messages>
        </div>
        </div>

        <div class="col-sm-12 row form__part">    
          <button class="button col-sm-12" type="submit" (click)="this.submitTried=true">Dodaj poszukiwanie</button> 
          <p *ngIf="addObjectSearchedForm.status=='INVALID' && this.submitTried " class="form__error col-sm-12">Wypełnij wszystkie wymagane pola aby dodać poszukiwanie</p>
        </div>

      
    </form>
  </div>

  <div class="content__part col-sm-5">
    <h3 *ngIf="matchedObjectsOffered==undefined">Zacznij wypełniać formularz aby zobaczyć ile ogłoszeń pasujących do twojego poszukiwania jest w naszej bazie</h3>
    <h3 *ngIf="matchedObjectsOffered">Pasujące ogłoszenia: {{matchedObjectsOffered.length}}</h3>
      <ul class="row">
        <li *ngFor="let objectOffered of matchedObjectsOffered" class="col-sm-12">

          <section class="row link link--nodecor" routerLink="/oferta/{{objectOffered.id}}">
            <aside class="col-sm-3">
              <i class="fas fa-search-location"></i>
            </aside>
            <main class="col-sm-9">
              <p class="title">
                <strong>{{objectOffered.companyType}} poszukuje</strong>
              </p>
              <p class="details">
                Rodzaj transakcji: {{objectOffered.transactionType}}<br>
                Typ obiektu: {{objectOffered.objectType}}<br>
                Lokalizacja: {{objectOffered.objectLocation}}<br>
                Powierzchnia: {{objectOffered.objectArea | number:'':'pl-pl'}} m²<br>
                Cena: {{objectOffered.objectPrice | number:'':'pl-pl'}} zł<br>
              </p>
            </main>
          </section>
        </li>
      </ul>
  </div>

</section>