/* You can add global styles to this file, and also import other style files */
body
	min-height: 100vh
	padding: 0 !important
body app-root
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: flex-start
ul 
	list-style: none
	padding: 0

app-nav 
	position: sticky
	top: 0

.content
	max-width: 1000px
	margin: 0 auto
	min-height: calc(100vh - 112px)

.content__part 
	padding: 2rem 0

.center 
	text-align: center

.link 
	color: inherit

.link:hover 
	cursor: pointer
	text-decoration: underline
	color: inherit

.link--nodecor:hover
	text-decoration: none 

.paginate
	display: flex
	flex-flow: column
	justify-content: space-between

.ngx-pagination .current
	background: #343a40 !important
	font-weight: 800
	text-decoration: underline

.bold
	font-weight: 800

.form__part
	margin-bottom: 1rem

.form__part > .row
	margin: 0

.form__part > input.col-sm-12 
	padding: 0 30px

.form__error 
	color: red
	font-size: 0.8rem

input[type=checkbox], input[type=radio]
	margin-right: 1rem

input[type=text], input[type=number], input[type=email]
	border: none
	box-shadow: none
	border-bottom: 1px solid #343a40
